apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config

data:
  prometheus.rules: |-
      
  
  prometheus.yml: |-
    global:
      scrape_interval: 5s
      evaluation_interval: 5s

    rule_files:
      - /etc/prometheus/prometheus.rules

    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: ['localhost:9090']