apiVersion: v1
kind: Service
metadata:
  name: traefik

spec:
  type: LoadBalancer
  selector:
    app: traefik
  ports:
    - name: web
      protocol: TCP
      port: 80
    - name: websecure
      protocol: TCP
      port: 443

---
apiVersion: v1
kind: Service
metadata:
  name: traefik-dashboard
  
spec:
  type: ClusterIP
  selector:
    app: traefik
  ports:
    - name: dashboard
      protocol: TCP
      port: 8080