kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: default-grafana-data
  
provisioner: kubernetes.io/azure-file
mountOptions:
  - dir_mode=0777
  - file_mode=0777
  - uid=1000
  - gid=1000
  - mfsymlinks
  - nobrl
  - cache=none
parameters:
  skuName: Standard_LRS

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data
  
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: default-grafana-data
  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana

spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
      volumes:
        - name: mount-grafana-data
          persistentVolumeClaim:
            claimName: grafana-data
        - name: mount-grafana-datasources
          configMap:
            name: grafana-datasources
      containers:
        - name: grafana
          image: grafana/grafana:latest
          env:
            - name: GF_AUTH_BASIC_ENABLED
              value: "false"
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ORG_ROLE
              value: Admin
          volumeMounts:
            - name: mount-grafana-data
              mountPath: /var/lib/grafana/
            - name: mount-grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources/
              readOnly: false
          ports:
            - name: http
              containerPort: 3000
              
---
apiVersion: v1
kind: Service
metadata:
  name: grafana-dashboard

spec:
  ports:
    - protocol: TCP
      name: http
      port: 3000
  selector: 
    app: grafana 